<footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="single-box">
                        <a class="nav-link" href="#"><img src="../../assets/imagenes/logo.png" alt="Logo" class="logo"></a>
                        <p>Brindando esperanza y rescate a aquellos en peligro en el mar. Únete a nuestra misión y salva vidas.</p>
                  <h3>Aceptamos</h3>
                  <div class="card-area">
                          <i class="fa fa-cc-visa"></i>
                          <i class="fa fa-credit-card"></i>
                          <i class="fa fa-cc-mastercard"></i>
                          <i class="fa fa-cc-paypal"></i>
                  </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single-box">
                      <h2>Servicios</h2>
                  <ul>
                      <li><a href="#">Respuesta de Emergencia</a></li>
                      <li><a href="#">Búsqueda y Rescate</a></li>
                      <li><a href="#">Ayuda Médica</a></li>
                      <li><a href="#">Apoyo Comunitario</a></li>
                      <li><a href="#">Programas de Formación</a></li>
                      <li><a href="#">Voluntariado</a></li>
                  </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single-box">
                      <h2>Recursos</h2>
                  <ul>
                      <li><a href="#">Consejos de Seguridad</a></li>
                      <li><a href="#">Directrices</a></li>
                      <li><a href="#">Enlaces de Apoyo</a></li>
                      <li><a href="#">Centro de Medios</a></li>
                      <li><a href="#">Informes Anuales</a></li>
                      <li><a href="#">Contáctanos</a></li>
                  </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single-box">
                      <h2>Boletín Informativo</h2>
                      <p>Mantente al día con nuestras últimas misiones e historias de rescate. Suscríbete a nuestro boletín informativo.</p>
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Ingresa tu correo electrónico..." aria-label="Ingresa tu correo electrónico..." aria-describedby="basic-addon2">
                          <span class="input-group-text" id="basic-addon2"><i class="fa fa-long-arrow-right"></i></span>
                      </div>
                      <h2>Síguenos en</h2>
                      <p class="socials">
                          <i class="fa fa-facebook"></i>
                          <i class="fa fa-instagram"></i>
                          <i class="fa fa-linkedin"></i>
                          <i class="fa fa-twitter"></i>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
