<footer class="bg-dark text-white py-4">
      <div class="container">
            <div class="row">
                  <div class="col-md-4">
                        <h5>Contacto</h5>
                        <p>Email: <a href="mailto:info@salvamentomaritimo.org" class="text-white">info@salvamentomaritimo.org</a></p>
                        <p>Teléfono: <a href="tel:+123456789" class="text-white">+123 456 789</a></p>
                  </div>
                  <div class="col-md-4">
                        <h5>Apóyanos</h5>
                        <button class="btn btn-primary mb-2">Donar</button>
                        <button class="btn btn-secondary">Ser Socio</button>
                  </div>
                  <div class="col-md-4">
                        <h5>Síguenos</h5>
                        <a href="https://github.com/tuong" class="text-white me-2"><i class="fab fa-github"></i> GitHub</a>
                        <a href="https://facebook.com/tuong" class="text-white me-2"><i class="fab fa-facebook"></i> Facebook</a>
                        <a href="https://twitter.com/tuong" class="text-white me-2"><i class="fab fa-twitter"></i> Twitter</a>
                        <a href="https://instagram.com/tuong" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
                  </div>
            </div>
      </div>
</footer>

<!-- Add this script tag to include Font Awesome icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>