<footer class="bg-dark text-white py-4">
  <div class="container">
        <div class="row">
              <div class="col-md-4">
                    <h5>Contacto</h5>
                    <p>Email: <a href="mailto:info@Luzmarina.org" class="text-white">info@Luzmarina.org</a></p>
                    <p>Teléfono: <a href="tel:+123456789" class="text-white">+123 456 789</a></p>
              </div>
              <div class="col-md-4">
                    <h5>Apóyanos</h5>
                    <a class="nav-link" href="#Inicio">Donar</a>
                    <a class="nav-link" href="#Inicio">Ser socio</a>
              </div>
              <div class="col-md-4">
                    <h5>Síguenos</h5>
                    <a href="https://github.com/tuong" class="text-white me-2">
                      <img src="../../assets/imagenes/icono-github-blanco.svg" alt="">

                    </a>

                    <a href="https://facebook.com/tuong" class="text-white me-2">
                      <img src="../../assets/imagenes/icono-facebook-blanco.svg" alt="">
                      </a>


                    <a href="https://instagram.com/tuong" class="text-white">
                          <img src="../../assets/imagenes/icono-instagram-blanco.svg" alt="">
                    </a>
              </div>
        </div>
  </div>
</footer>
