<div class="modal-header">
      <h5 class="modal-title">Modificar Rescatado</h5>
      <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form *ngIf="rescatado">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" [(ngModel)]="rescatado.nombre" name="nombre" class="form-control" placeholder="Nombre del rescatado" />
        </div>
        <div class="form-group">
          <label for="foto">Foto (URL)</label>
          <input type="text" id="foto" [(ngModel)]="rescatado.foto" name="foto" class="form-control" placeholder="URL de la foto" />
        </div>
        <div class="form-group">
          <label for="edad">Edad</label>
          <input type="number" id="edad" [(ngModel)]="rescatado.edad" name="edad" class="form-control" placeholder="Edad del rescatado" />
        </div>
        <div class="form-group">
          <label for="sexo">Sexo</label>
          <select id="sexo" [(ngModel)]="rescatado.sexo" name="sexo" class="form-control">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
        <div class="form-group">
          <label for="procedencia">Procedencia</label>
          <input type="text" id="procedencia" [(ngModel)]="rescatado.procedencia" name="procedencia" class="form-control" placeholder="Lugar de procedencia" />
        </div>
        <div class="form-group">
          <label for="valoracion_medica">Valoración Médica</label>
          <input type="text" id="valoracion_medica" [(ngModel)]="rescatado.valoracion_medica" name="valoracion_medica" class="form-control" placeholder="Valoración médica" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
    </div>
    