
	<div class="card">
		<div class="card-image">
      <!-- Información del formulario -->

				<h2>Contáctanos</h2>
				<small>Si deseas apoyarnos o conocer más sobre nuestra labor,
          contáctanos y únete a nuestra misión de salvar vidas con amor y fe.</small>

		</div>
    <!-- Formulario de contacto -->
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field"  required/>
				<label class="input-label">Nombre completo</label>
			</div>
						<div class="input">
				<input type="text" class="input-field"  required/>
				<label class="input-label">Email</label>
			</div>
						<div class="input">
				<input type="password" class="input-field" required/>
				<label class="input-label">Dirección</label>
			</div>
			<div class="action">
				<button class="action-button">Colabora ya!</button>
			</div>
		</form>

	</div>

