<div class="card">
	<div class="card-image">
	  <!-- Información del formulario -->
	  <h2>Contáctanos</h2>
	  <small>Si deseas apoyarnos o conocer más sobre nuestra labor,
	    contáctanos y únete a nuestra misión de salvar vidas con amor y fe.</small>
	</div>
    
	<!-- Mostrar mensajes de error y éxito -->
	<div *ngIf="mensajeError" class="alert alert-danger">
	  {{ mensajeError }}
	</div>
	<div *ngIf="mensajeExito" class="alert alert-success">
	  {{ mensajeExito }}
	</div>
    
	<!-- Formulario de contacto -->
	<form class="card-form" (ngSubmit)="enviarFormulario()">
	  <div class="input">
	    <input type="text" class="input-field" [(ngModel)]="nombre" name="nombre" required />
	    <label class="input-label">Nombre completo</label>
	  </div>
    
	  <div class="input">
	    <input type="email" class="input-field" [(ngModel)]="email" name="email" required />
	    <label class="input-label">Email</label>
	  </div>
    
	  <div class="input">
	    <textarea class="input-field" [(ngModel)]="mensaje" name="mensaje" required rows="4"></textarea>
	    <label class="input-label">Mensaje</label>
	  </div>
    
	  <div class="action">
	    <button type="submit" class="action-button">Colabora ya!</button>
	  </div>
	</form>
    </div>
    