
    <div class="card">
        <div class="card-image">
            <h2>Salvamento Marítimo Cristiano</h2>
            <small>"Guiando almas y rescatando vidas en el mar con fe y esperanza."</small>
        </div>
        <div class="card-content">
          <!-- Información de la asociación -->
            <p>
              Creemos que cada vida es un precioso regalo de nuestro Creador, y trabajamos con fe y humildad para protegerla, reflejando el amor de Jesús en cada acción.
            </p>
            <p>
                <strong>Mateo 4:19</strong>:
                <em>"Venid en pos de mí, y os haré pescadores de hombres."</em>
            </p>

            <p>
              Dirección: Calle Esperanza, Nº 999

              48960 Sevilla, España
            </p>
            <p>
              Correo: info.luzmarina.org
            </p>
            <p>
              Teléfono: 688890587
            </p>

            <div class="card-video">
              <video controls width="50%">
                  <source src="assets/imagenes/papa.mp4" type="video/mp4">
                  Tu navegador no soporta la reproducción de videos.
              </video>
          </div>
          <div class="action">
            <button class="action-button" [routerLink]="['/donacion']">Dona ahora!</button>
          </div>
        </div>
    </div>
