<div class="conatiner-imagen-inicio">
      <router-outlet></router-outlet>
      <div class="boton-container">
            <button class="minimalista-boton ">Hazte Socio</button>
      </div>

</div>
<div class="subtitulo">
      <h1>Con la Ayuda de Dios, Cada Contribución Es Un Acto de Fe</h1>
      <p>Un faro de esperanza en medio de la tormenta</p>
</div>


<div class="home">
      <div class="container-sec-text">
            <h1>¿Quienes Somos?</h1>
            Luz Marina es una organización de salvamento marítimo compuesta por un equipo de voluntarios
            cristianos dedicados
            a rescatar vidas en el mar. Guiados por la fe en Cristo, respondemos con compasión y esperanza en
            situaciones de
            emergencia, llevando ayuda y consuelo a quienes más lo necesitan. Creemos firmemente que cada acto de bondad
            es un
            reflejo del amor de Dios y trabajamos incansablemente para ser su mano extendida en momentos de crisis.
      </div>

      <div class="container-sec-text">
            <div>
                  <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
            </div>
      </div>
      <div class="container-sec-text">
            <div>
                  <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
            </div>
      </div>

      <div class="container-sec-text">
            <div>
                  <h1> Nuestros voluntarios, están entrenados en técnicas avanzadas de rescate y primeros auxilios.</h1>
                  En momentos de crisis, Luz Marina es más que un equipo de rescate; somos una familia unida por la fe,
                  lista para
                  enfrentar cualquier desafío con valentía y devoción. Juntos, iluminamos el camino hacia la esperanza y
                  la
                  salvación, cumpliendo con nuestro llamado de ser la mano extendida de Dios en el mar.
            </div>
      </div>

      <div class="slider-container">
            <div class="slider">
                  <div class="slide">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina"
                              class="foto-slider">
                  </div>
                  <div class="slide">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina"
                              class="foto-slider">
                  </div>
                  <div class="slide">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina"
                              class="foto-slider">
                  </div>
                  <div class="slide">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina"
                              class="foto-slider">
                  </div>
                  <div class="slide">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina"
                              class="foto-slider">
                  </div>
                  <div class="slide">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina"
                              class="foto-slider">
                  </div>
            </div>
      </div>
</div>
      <div class="home">
            <div class="container-sec-text">
                  <h1>¿Quienes Somos?</h1>
                  Luz Marina es una organización de salvamento marítimo compuesta por un equipo de voluntarios
                  cristianos dedicados
                  a rescatar vidas en el mar. Guiados por la fe en Cristo, respondemos con compasión y esperanza en
                  situaciones de
                  emergencia, llevando ayuda y consuelo a quienes más lo necesitan. Creemos firmemente que cada acto de
                  bondad
                  es un
                  reflejo del amor de Dios y trabajamos incansablemente para ser su mano extendida en momentos de
                  crisis.
            </div>



      </div>

      <div class="container-cards">
            <div class="cards">
                  <div class="card-img">
                    <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="" class="img-card">
                  </div>
                  <div class="car-body">
                        <h2>Prueba</h2>
                        <p>dkapkfamfipamfna</p>
                  </div>
                  <div class="card-footer">
                        <button class="minimalista-boton ">Hazte Socio</button>
                  </div>
            </div>
            <div class="cards">
                  <div class="card-img">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="" class="img-card">
                  </div>
                  <div class="car-body">
                        <h2>Prueba</h2>
                        <p>dkapkfamfipamfna</p>
                              
                  </div>
                  <div class="card-footer">
                        <button class="minimalista-boton ">Hazte Socio</button>
                  </div>
            </div>
            <div class="cards">
                  <div class="card-img">
                        <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="" class="img-card">
                  </div>
                  <div class="car-body">
                        <h2>Prueba</h2>
                        <p>dkapkfamfipamfna</p>
                  </div>
                  <div class="card-footer">
                        <button class="minimalista-boton ">Hazte Socio</button>
                  </div>
            </div>
      </div>

