<div class="conatiner-imagen-inicio">
      <router-outlet></router-outlet>
      <div class="boton-container">
            <button class="minimalista-boton ">Hazte Socio</button>
      </div>

</div>

<div class="home">
      <div class="container-sec-text">
            <h1>¿Quienes Somos?</h1>
            Luz Marina es una organización de salvamento marítimo compuesta por un equipo de voluntarios
            cristianos dedicados
            a rescatar vidas en el mar. Guiados por la fe en Cristo, respondemos con compasión y esperanza en
            situaciones de
            emergencia, llevando ayuda y consuelo a quienes más lo necesitan. Creemos firmemente que cada acto de bondad
            es un
            reflejo del amor de Dios y trabajamos incansablemente para ser su mano extendida en momentos de crisis.
      </div>

      <div class="container-sec-text">
            <div>
                  <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
            </div>
      </div>
      <div class="container-sec-text">
            <div>
                  <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
            </div>
      </div>

      <div class="container-sec-text">
            <div>
                  <h1> Nuestros voluntarios, están entrenados en técnicas avanzadas de rescate y primeros auxilios.</h1>
                  En momentos de crisis, Luz Marina es más que un equipo de rescate; somos una familia unida por la fe,
                  lista para
                  enfrentar cualquier desafío con valentía y devoción. Juntos, iluminamos el camino hacia la esperanza y
                  la
                  salvación, cumpliendo con nuestro llamado de ser la mano extendida de Dios en el mar.
            </div>
      </div>

      <!-- 3D Slideshow Section --> 
<section id="slideshow">
      <div class="entire-content">
          <div class="content-carrousel">
              <figure class="shadow"><img src="https://images.pexels.com/photos/758733/pexels-photo-758733.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/21261/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/567973/pexels-photo-567973.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/776653/pexels-photo-776653.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/54630/japanese-cherry-trees-flowers-spring-japanese-flowering-cherry-54630.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/131046/pexels-photo-131046.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/302515/pexels-photo-302515.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/301682/pexels-photo-301682.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
              <figure class="shadow"><img src="https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
  </div>
</div>
</section>



