<div class="conatiner-imagen-inicio">
      <router-outlet></router-outlet>
      <div class="boton-container">
            <button class="minimalista-boton ">Hazte Socio</button>
      </div>

</div>

<div class="home">
      <div class="container-sec-text">
            <h1>¿Quienes Somos?</h1>
            Luz Marina es una organización de salvamento marítimo compuesta por un equipo de voluntarios
            cristianos dedicados
            a rescatar vidas en el mar. Guiados por la fe en Cristo, respondemos con compasión y esperanza en
            situaciones de
            emergencia, llevando ayuda y consuelo a quienes más lo necesitan. Creemos firmemente que cada acto de bondad
            es un
            reflejo del amor de Dios y trabajamos incansablemente para ser su mano extendida en momentos de crisis.
      </div>

      <div class="container-sec-text">
            <div>
                  <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
            </div>
      </div>
      <div class="container-sec-text">
            <div>
                  <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
            </div>
      </div>

      <div class="container-sec-text">
            <div>
                  <h1> Nuestros voluntarios, están entrenados en técnicas avanzadas de rescate y primeros auxilios.</h1>
                  En momentos de crisis, Luz Marina es más que un equipo de rescate; somos una familia unida por la fe,
                  lista para
                  enfrentar cualquier desafío con valentía y devoción. Juntos, iluminamos el camino hacia la esperanza y
                  la
                  salvación, cumpliendo con nuestro llamado de ser la mano extendida de Dios en el mar.
            </div>
      </div>

      <!-- 3D Slideshow Section --> 
      <section id="slideshow">
            <div class="entire-content">
                <div class="content-carrousel">
                    <figure class="shadow"><img src="/assets/imagenes/noticia.jpg"/></figure>
                    <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia2.jpg"/></figure>
                    <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia3.jpg"/></figure>
                    <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia4.avif"/></figure>
                    <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia5.jpeg"/></figure>
                    <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia6.jpg"/></figure>
                    <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia7.jpg"/></figure>              <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia.jpg"/>/></figure>
                    <figure class="shadow"><img src="/../LuzMarinaAngular-main/src/assets/imagenes/noticia8.jpg"/></figure> </div>
      </div>
      </section>



