<div class="wrapper">
    <h1>Parallax Flipping Cards</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/assets/imagenes/noticia.jpg);">
                    <div class="inner">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(assets/imagenes/noticia2.jpg);">
                    <div class="inner">
                        <p>Rocogged</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/assets/imagenes/noticia3.jpg);">
                    <div class="inner">
                        <p>Strizzes</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/assets/imagenes/noticia4.avif);">
                    <div class="inner">
                        <p>Clossyo</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/assets/imagenes/noticia5.jpeg);">
                    <div class="inner">
                        <p>Rendann</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/assets/imagenes/noticia6.jpg);">
                    <div class="inner">
                        <p>Acirassi</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/assets/imagenes/noticia7.jpg);">
                    <div class="inner">
                        <p>Sohanidd</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/assets/imagenes/noticia8.jpg);">
                    <div class="inner">
                        <p>Sohanidd</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>