<div class="wrapper">
    <h1>Actualidad</h1>
    <div class="cols">
      <div
        class="col"
        *ngFor="let noticia of noticias"
        ontouchstart="this.classList.toggle('hover');"
      >
        <div class="container">
          <!-- Imagen de fondo -->
          <div class="front" [style.background-image]="'url(' + noticia.imagen + ')'">
            <div class="inner">
              <!-- Título -->
              <p>{{ noticia.titulo }}</p>
              <!-- Fecha -->
              <span>{{ noticia.fecha }}</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <!-- Resumen -->
              <p>{{ noticia.resumen }}</p>
              <button (click)="openModal(noticia)">Ver más</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
  class="modal"
  *ngIf="selectedNoticia"
  (click)="closeModal()"
>
<div class="modal-content" (click)="$event.stopPropagation()">
  <!-- Botón de cierre -->
  <span class="close" (click)="closeModal()">&times;</span>

  <!-- Título de la noticia -->
  <h2 [ngStyle]="{ 'font-size': fontSize + 'px' }">{{ selectedNoticia.titulo }}</h2>

  <!-- Imagen de la noticia -->
  <img [src]="selectedNoticia.imagen" alt="Imagen de {{ selectedNoticia.titulo }}" />

  <!-- Cuerpo de la noticia -->
  <p [ngStyle]="{ 'font-size': fontSize + 'px' }">{{ selectedNoticia.cuerpo }}</p>

  <!-- Botones para cambiar el tamaño de la fuente -->
  <div class="font-size-controls">
    <button (click)="decreaseFontSize()">A-</button>
    <button (click)="increaseFontSize()">A+</button>
  </div>
</div>
