<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="nav-link" href="#"><img src="../../assets/imagenes/logo.png" alt="Logo" class="logo"></a>
    <div class="bocadillo d-flex align-items-center">
      <div class="perfil">
        <img src="../../assets/imagenes/perfil.svg" alt="Perfil" class="perfil-img">
      </div>
      <div class="boton">
        <button class="navbar-toggler ms-2" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div [ngClass]="{'collapse': isCollapsed, 'navbar-collapse': true}" id="navbarNav">
      <ul class="navbar-nav">
        <div class="nav-center">
          <li class="nav-item">
            <a class="nav-link" href="#Inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Voluntarios">Voluntarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Noticias">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#CONTACTO">Contacto</a>
          </li>
        </div>
        <div class="donar-perfil d-none d-lg-flex">
          <li class="nav-item donar">
            <button type="button" class="btn btn-light">DONA AHORA</button>
          </li>
          <img src="../../assets/imagenes/perfil.svg" alt="Perfil" class="perfil-img">
        </div>
      </ul>
    </div>
  </div>
</nav>
