<div class="contenedor-login">
      <div class="container-page">
            <div class="login-conatiner">
                  <div class="titulo-login-container">
                  <h1 class="titulo-login">Login</h1>
                  </div>
                  <form (submit)="verificarCredenciales()">
                        <div class="login-container" id="LoginContainer">
                              <span class="name-input">Usuario</span>
                              <input 
                              type="text" 
                              class="input-line" 
                              [(ngModel)]="usuarioInput" 
                              name="usuario" 
                              required 
                            />

                        </div>
                        <div class="login-container" id="LoginContainer">
                              <span class="name-input">Contraseña</span>
                              <input 
                              type="password" 
                              class="input-line" 
                              [(ngModel)]="passwordInput" 
                              name="password" 
                              required 
                            />

                             

                        </div>
                        <div class="container-botones-login">
                              <button class="boton-login " type="submit">Login</button>
                              
                        </div>
                        <div class="container-botones-login">
                              <button class="boton-register " (click)="irAregister()">Register</button>
                              
                        </div>
                  </form>
            </div>
      </div>
</div>