
<div class="conatiner-imagen-inicio" *ngIf="selectedProject === 'Proyecto1'">
<h2>Proyecto 1</h2>
<span>Somos un equipo de voluntarios guiados por el amor de Cristo, dedicados a salvar vidas en el mar,
      llevando</span>
<span> esperanza y ayuda a quienes más lo necesitan, respondiendo con compasión y entrega en situaciones de
      emergencia.</span>

</div>

<div class="conatiner-imagen-inicio" *ngIf="selectedProject === 'Proyecto2'">

<h2>Proyecto 2</h2>
<span>Somos un equipo de voluntarios guiados por el amor de Cristo, dedicados a salvar vidas en el mar,
      llevando</span>
<span> esperanza y ayuda a quienes más lo necesitan, respondiendo con compasión y entrega en situaciones de
      emergencia.</span>
 </div>

 <div class="conatiner-imagen-inicio" *ngIf="selectedProject === 'Proyecto2'">

<h2>Proyecto 3</h2>
<span>Somos un equipo de voluntarios guiados por el amor de Cristo, dedicados a salvar vidas en el mar,
      llevando</span>
<span> esperanza y ayuda a quienes más lo necesitan, respondiendo con compasión y entrega en situaciones de
      emergencia.</span>
</div>