<!-- Cards con animación para la página de voluntarios -->
 <!-- https://codepen.io/thebabydino/pen/raBKVRG -->
<main>
  <div class="card animatable hidden svg-filter">
    <h2>Opción #1</h2>
    <p>Usa solo CSS y necesita un pseudo-elemento.</p>
  </div>

  <div class="card animatable hidden svg-filter">
    <h2>Opción #2</h2>
    <p>No usa pseudo-elementos, pero requiere un filtro SVG.</p>
  </div>

  <div class="card animatable hidden svg-filter">
    <h2>Opción #3</h2>
    <p>Similar al anterior, pero agrega un efecto de grano.</p>
  </div>

  <div class="card animatable hidden svg-filter">
    <h2>Opción #4</h2>
    <p>Redondea las esquinas y bordes de la tarjeta.</p>
  </div>
</main>

