<div class="caja">

  Con la Ayuda de Dios, Cada Contribución Es Un Acto de Fe
</div>
<div>
  <div class="imagen-container">
    <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
  </div>
  <div class="div-titulo2">
    <div class="titulo2">
    </div>
  </div>

</div>

<div class="caja">

  <div class="content">

    <div class="texto">
      <h1 class="titulo4">
        Nuestra misión
      </h1>
      Guiados por la fe cristiana, nos dedicamos a salvar a quienes lo han perdido todo, llevando consuelo, ayuda humanitaria y la Palabra de Dios.
    </div>
    <div>
      <div class="imagen-container">
          <img src="../../assets/imagenes/imagen-salvamento.jpg" alt="Imagen de Luz Marina" class="foto-barco">
      </div>
      <div class="texto">
        <h1 class="titulo4">
          Cómo ayudar
        </h1>
        <li>10€</li>
        <li>20€</li>
        <li>30€</li>
      </div>
    </div>


  </div>


</div>
