
/* Estilo de la barra de navegación */
.navbar-nav {
  display: flex;
  justify-content: space-between; /* Alinea los elementos entre izquierda, centro y derecha */
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Estilo para el logo dentro de su contenedor */
.logo {
  display: flex;
  background-color: white; /* Fondo blanco */
  border-radius: 100px; /* Esquinas redondeadas */
  max-height: 50px; /* Limita la altura de la imagen */
  width: auto; /* Mantiene las proporciones */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin-right: auto; /* Asegura que el logo se alinee a la izquierda */
}

/* Estilo para los elementos de la lista */
.navbar-nav .nav-item {
  padding: 0 15px; /* Espacio horizontal entre los elementos */
  text-align: center; /* Centra el texto dentro de cada li */
  cursor: pointer;
}

/* Estilo para los enlaces */
.nav-link {
  color: white; /* Color blanco para los enlaces */
  text-decoration: none;
}

/* Alineación del contenedor de navegación en el centro */
.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Esto hace que ocupe el espacio disponible */
}

/* Estilo para el enlace DONAR AHORA */
.navbar-nav .donar {
  margin-left: auto; /* Empuja el enlace "DONAR AHORA" hacia la derecha */
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Eliminar márgenes */
}
#esconder{
  display: none;
  justify-content: center;
  transform: translateX(30px); /* Desplazar ligeramente a la derecha */


}
/* Perfil */
.perfil-img {
  max-height: 50px;
  width: auto;
  display: block; /* Mostrar siempre */
  cursor: pointer;
}

.bocadillo {
  display: flex;
  align-items: center;
}
/* Submenu */
.sub-menu-wrap {
  max-height: 500px;
  position: absolute;   /* Posiciona el submenu de forma absoluta */
  top: 110%; /* Alinea el submenu debajo del perfil */
  right: 4%; /* Alinea el submenu a la derecha */
  width: 280px; /* Ancho del submenu */
  height: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  max-height: 0px; /* Inicialmente oculto */
  overflow: hidden; /* Oculta el contenido que exceda el tamaño del contenedor */
 transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 500px; /* Muestra el submenu */
}

.sub-menu {

  background: #fff;

  padding: 20px;

  height: 420px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h3 {
  font-weight: 400;
  margin-right: 15px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 5px 0 10px;


}
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}
.sub-menu-link p {
  width: 100%;
}
.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;
}
.valing-center{
  display:  inline-flex;
  align-items: center;
}

@media (max-width: 992px) {
  #esconder{
    display: block;
  }
  .perfil-img {
    display: none;
  }
  .nav-center {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    width: 100%;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .perfil- {
    display: none;
  }
}
