
/* Estilo de la barra de navegaci칩n */
.navbar-nav {
  display: flex;
  justify-content: space-between; /* Alinea los elementos entre izquierda, centro y derecha */
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Estilo para el logo dentro de su contenedor */
.logo {
  display: flex;
  background-color: white; /* Fondo blanco */
  border-radius: 100px; /* Esquinas redondeadas */
  max-height: 50px; /* Limita la altura de la imagen */
  width: auto; /* Mantiene las proporciones */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin-right: auto; /* Asegura que el logo se alinee a la izquierda */
}

/* Estilo para los elementos de la lista */
.navbar-nav .nav-item {
  padding: 0 15px; /* Espacio horizontal entre los elementos */
  text-align: center; /* Centra el texto dentro de cada li */
  cursor: pointer;
}

/* Estilo para los enlaces */
.nav-link {
  color: white; /* Color blanco para los enlaces */
  text-decoration: none;
}

/* Alineaci칩n del contenedor de navegaci칩n en el centro */
.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Esto hace que ocupe el espacio disponible */
}

/* Estilo para el enlace DONAR AHORA */
.navbar-nav .donar {
  margin-left: auto; /* Empuja el enlace "DONAR AHORA" hacia la derecha */
}

/* Perfil */
.perfil-img {
  max-height: 50px;
  width: auto;
  display: block; /* Mostrar siempre */
  cursor: pointer;
}

.bocadillo {
  display: flex;
  align-items: center;
}

.donar-perfil {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .donar-perfil {
    display: none; /* Ocultar en pantallas peque침as */
  }
  .nav-center {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    width: 100%;
    align-items: center; /* Centra el texto dentro de cada li */
  }
}

@media (min-width: 992px) {
  .perfil {
    display: none; /* Ocultar en pantallas grandes */
  }
}
