
/* Estilo de la barra de navegación */
.navbar-nav {
  display: flex;
  justify-content: space-between; /* Alinea los elementos entre izquierda, centro y derecha */
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Estilo para el logo dentro de su contenedor */
.logo {
  display: flex;
  background-color: white; /* Fondo blanco */
  border-radius: 100px; /* Esquinas redondeadas */
  max-height: 50px; /* Limita la altura de la imagen */
  width: auto; /* Mantiene las proporciones */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin-right: auto; /* Asegura que el logo se alinee a la izquierda */
}

/* Estilo para los elementos de la lista */
.navbar-nav .nav-item {
  padding: 0 15px; /* Espacio horizontal entre los elementos */
  text-align: center; /* Centra el texto dentro de cada li */
  cursor: pointer;
}

/* Estilo para los enlaces */
.nav-link {
  color: white; /* Color blanco para los enlaces */
  text-decoration: none;
}

/* Alineación del contenedor de navegación en el centro */
.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Esto hace que ocupe el espacio disponible */
}

/* Estilo para el enlace DONAR AHORA */
.navbar-nav .donar {
  margin-left: auto; /* Empuja el enlace "DONAR AHORA" hacia la derecha */
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Eliminar márgenes */
}
#esconder{
  display: none;
  justify-content: center;
  transform: translateX(30px); /* Desplazar ligeramente a la derecha */


}
/* Perfil */
.perfil-img {
  max-height: 50px;
  width: auto;
  display: block; /* Mostrar siempre */
  cursor: pointer;
}

.bocadillo {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info h3 {
  font-weight: 400;
  margin-right: 15px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 5px 0 10px;


}


.valing-center{
  display:  inline-flex;
  align-items: center;
}

@media (max-width: 992px) {
  #esconder{
    display: block;
  }
  .perfil-img {
    display: none;
  }
  .nav-center {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    width: 100%;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .perfil- {
    display: none;
  }
}
