@import 'variables';
@import 'navbar';
@import 'home';

@import 'footer';
@import 'barra-desplazamiento';

    

    *{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      

    }
    body{
      font-family: 'Roboto', sans-serif;
      height: 100%;

    }