
<div class="image-container">
  <img src="../../assets/imagenes/imagen de fondo.png" alt="Salvamento" class="img-fluid">
  <div class="centered-text">
    <h2 class="titulo">SIRVIENDO CON FE Y ESPERANZA</h2>
    <h1>LUZ MARINA</h1>
    <p>Somos un equipo de voluntarios guiados por el amor de Cristo, dedicados a salvar vidas en el mar, llevando esperanza y ayuda a quienes más lo necesitan, respondiendo con compasión y entrega en situaciones de emergencia.</p>
  </div>
</div>

<div class="donar-socio">

  <div class="boton-socio">

    <button class="minimalista-boton " >Hazte Socio</button>
  </div>

  <div class="boton-dona" >

    <button type="button" class="minimalista-boton ">DONA AHORA</button>

  </div>

  <div class="container-escritura">
    <div class="escribir">
dfafsg
    </div>

  </div>

</div>




<div class="div-titulo2">
  <div class="titulo2">
  </div>
</div>
<div class="container-texto-imagen">
  <div class="titulo3">

    Con la Ayuda de Dios, Cada Contribución Es Un Acto de Fe
  </div>
  <div class="content">

    <div class="texto">
      <h1 class="titulo4">     ¿Quienes Somos?

      </h1>
      Luz Marina es una organización de salvamento marítimo compuesta por un equipo de voluntarios cristianos dedicados a rescatar vidas en el mar. Guiados por la fe en Cristo, respondemos con compasión y esperanza en situaciones de emergencia, llevando ayuda y consuelo a quienes más lo necesitan. Creemos firmemente que cada acto de bondad es un reflejo del amor de Dios y trabajamos incansablemente para ser su mano extendida en momentos de crisis.
    </div>

    <div class="imagen">
      <img src="URL_DE_LA_IMAGEN" alt="Imagen de Luz Marina">
    </div>

  </div>
</div>


