<div class="contenedor-login">
      <div class="container-page">
            <div class="login-conatiner">
                  <div class="titulo-login-container">
                  <h1 class="titulo-login">Register</h1>
                  </div>
                  <form action="">
                        <div class="login-container" id="LoginContainer">
                              <span class="name-input">Nombre de usuario</span>
                              <input type="text" class="input-line">

                        </div>
                        <div class="login-container" id="LoginContainer">
                              <span class="name-input">email</span>
                              <input type="text" class="input-line">

                        </div>
                        <div class="login-container" id="LoginContainer">
                              <span class="name-input">Contraseña</span>
                              <input type="password" class="input-line">

                             

                        </div>
                       
                        <div class="container-botones-login">
                              <button class="boton-register ">Registrarse</button>
                              
                        </div>
                  </form>
            </div>
      </div>
</div>